@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto"
}
.container{
    display: flex;
    margin: 10px 80px;
}
.container-left{
    flex: 2;
}
.container-left .img-product{
        width: 60vw;
        height: calc(100vw * 1/3)
}
.img-product img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container-left .product-name{
    margin: 20px 0px;
}
.container-left .price-cart{
    display: flex;
    justify-content: space-between;
}
.price-cart .price{
    font-size: 30px;
    color: red;
}
.price-cart button{
  border: none;
  font-size: 16px;  
  padding: 5px 10px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 0px;
  margin: 5px 5px 5px 0;
}
.container-left .content{
    font-size: 16px;
    margin-top: 20px;
}
.container-right{
    flex: 1;
    padding-left: 40px;
}
.container-right .header-user{
    padding-bottom: 10px;
}
.container-right .user-sell .header-user{
    display: flex;
    justify-content: space-between;
}
.header-user .img-user{
    display: flex;
}
.header-user .img-user .state{
    position: relative;
}
.header-user .img-user .state::before{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: green;
    border-radius: 7px;
    left: -22px;
    border: 1px solid #fff;
    top: 12px;
}
.header-user .img-user .name-and-state{
    margin-left: 10px;
}
.name-and-state span{
    font-weight: 600;
}
.name-and-state .state{
    font-size: 14px;
}
.header-user .personal-page{
  border: none;
  font-size: 16px;  
  padding: 2px 10px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 0px;
}
.user-sell .footer-user{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding: 5px 20px;
}
.footer-user .assess ul{
    display: flex;
}
.footer-user .title,.footer-user .data{
    text-align: center;
}
.footer-user .gachngang{
    height: 20px;
    width: 1px;
    margin-top: 10px;
    background-color: lightgray;
}
.container-right .main{
    box-shadow: 0 0 3px rgb(0 0 0/20%);
    padding: 10px;
}
.container-right .chat-user{
  border: none;
  font-size: 18px;  
  padding: 5px 10px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 0px;
  text-align: center;
  margin-top: 10px;
}
.footer-user .assess ul li{
    list-style: none;
    color: yellow;
}
.share-app{
    align-items: center;
    display: flex;
    margin-top: 20px;
  }
  .share-app ul{
    display: flex;
    list-style: none;
    margin: auto;
  }
  .share-app ul li{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(187, 187, 187);
    display: flex;
    border-radius: 20px;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.4s linear;
  }
  .share-app ul li:hover{
      background-color: #355c7d;
  }
  .share-app ul li i{
    margin: auto;
  }
  .quangcao img{
      width: 100%;
      margin-top: 40px;
  }
  .location, .tinhtrang{
      display:flex;
      margin: 10px 0;
      align-items: center;
  }
  .location i, .tinhtrang i{
      margin-right: 10px;
  }
  .reviews{
      width: 50vw;
      margin-top: 10px
  }
.body-comment{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}
.input-comment div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.input-comment div img{
    height: 30px;
}
.input-comment div input{
    font-size: 14px;
    outline: none;
    padding-bottom: 5px;
    width: calc(100% - 40px);
    font-weight: 400;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #d2d2d2;
}
.input-comment div:last-child{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin: 0px;
}
.input-comment div:last-child span:first-child{
    margin-right: 20px;
    cursor: pointer;
}
.input-comment div:last-child span:last-child{
  border: none;
  font-size: 16px;  
  padding: 5px 10px;
  background-color: #d2d2d2;
  color: #fff;
  border-radius: 0px;
  text-align: center;
  cursor: pointer;
  transition: background-color ease-in 0.2s;
}
.input-comment div:last-child span:last-child.active{
    background-color: gray;
}
.input-comment div:last-child span:last-child:hover{
    background-color: gray;
}
.list-comment{
    margin-top: 10px;
}
.list-comment-child{
    border-left: 1px solid #d2d2d2;
    padding-left: 10px;
}
.item-comment{
    display: flex;
    margin-top:15px;
}
.item-comment .img-user-comment img{
    height: 40px;
}
.item-comment .body-comment{
    margin-left: 10px;
}
.item-comment .body-comment .content{
    background-color: #f2f3f5;
    width: fit-content;
    border-radius: 10px;
    padding: 5px 10px;
}
.body-comment .content div{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
}
.body-comment .content div span{
    font-size: 12px;
    color: gray;
}
.body-comment .content p{
    font-weight: 400;
    line-height: 18px;
}
.body-comment .footer-comment{
    margin-top: 10px;
    font-weight: 300;
    display: flex;
}
.body-comment .footer-comment span{
    margin-right: 10px;
    font-weight: 300;
    color: #606060;
    cursor: pointer;
    font-size: 12px;
}
.body-comment .show-reply{
    margin-top: 12px;
}
.list-comment .show-reply .fa-caret-down, .list-comment .show-reply .fa-caret-up{
    color: #065fd4;
    cursor: pointer;
    margin-top: 10px;
}
.list-comment .show-reply i span{
    font-size: 14px;
    font-weight: 500;
}


